<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="2.2">
<dict>
	<key>addToMenu</key>
	<array/>
	<key>developer</key>
	<string>Jackson Showalter-Cavanaugh</string>
	<key>developerURL</key>
	<string>https://okaytype.com</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>Glyphview_Metrics.py</string>
	<key>name</key>
	<string>Glyphview Metrics UI</string>
	<key>requiresVersionMajor</key>
	<string>4</string>
	<key>timeStamp</key>
	<real>1692060125.674420</real>
	<key>version</key>
	<string>2.2</string>
</dict>
</plist>
